<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="my_working_phone_listing_data_source" xsi:type="string">My\Working\Model\ResourceModel\Phone\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="My\Working\Model\ResourceModel\Phone\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">my_working_phone</argument>
            <argument name="resourceModel" xsi:type="string">\My\Working\Model\ResourceModel\Phone</argument>
        </arguments>
    </type>
</config>